<form *ngIf="characterForm" class="character-form" [formGroup]="characterForm">
  <div>
    <h3>D&D Character Form: Page One</h3>
    <div class="form-page">
      <div class="form-group">
        <label>Name:
          <input class="form-control" formControlName="characterName">
        </label>
      </div>
      <div class="form-group">
        <label>Level:
          <select class="form-control" formControlName="characterLevel">
            <option *ngFor="let level of levels" [value]="level">{{level}}</option>
          </select>
        </label>
      </div>
      <div class="form-group">
        <label>Class:
          <select class="form-control" formControlName="characterClass">
            <option *ngFor="let class of classes" [value]="class">{{class}}</option>
          </select>
        </label>
      </div>
      <div class="form-group">
        <label>Race:
          <select class="form-control" formControlName="characterRace">
            <optgroup *ngFor="let race of races" [label]="race.parentRace">
              <option *ngFor="let subRace of race.subRaces" [value]="subRace">{{subRace}}</option>
            </optgroup>
          </select>
        </label>
      </div>
      <button type="button" class="btn btn-primary" (click)="goToAbilitiesForm()">Save and Continue</button>
    </div>
  </div>
</form>
