<!--<h3>D&D Character Form: Page Three</h3>-->

<!--<form *ngIf="classForm" [formGroup]="classForm">-->
  <!--<div [ngSwitch]="characterClass.specialFormOption.type">-->
    <!--<div *ngSwitchCase="'spellOption'" formArrayName="specialOptions">-->
      <!--<div *ngFor="let spellOption of specialOptions.controls; let i = index"-->
           <!--[formGroupName]="i">-->
        <!--<h5 class="class-level-header">-->
          <!--Level <input formControlName="level" type="text">-->
          <!--{{spellOption.level}}-->
        <!--</h5>-->
        <!--<div>-->
          <!--<div formArrayName="spells">-->
            <!--<div *ngFor="let spell of spellOption.get('spells').controls; let j = index"-->
              <!--[formGroupName]="j">-->
              <!--<input type="text" formControlName="spellName">-->
              <!--{{spell.get('spellName')}} Test?-->
              <!--<label>-->
                <!--<input type="checkbox" formControlName="value">-->
              <!--</label>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</form>-->
