:host {
  height: 100%
}

.abilities-headers {
  display: flex;
}

.ability-name-column {
  width: 20%;
}

.ability-stat-column {
  width: 20%;
}

.ability-row {
  display: flex;
  height: 50px;
}

.race-modifier-column {
  width: 20%;
}

.ability-total-column {
  width: 20%;
}

.ability-modifier-column {
  width: 20%;
}

input {
  width: 50px;
}

.character-form {
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  height: 100%;
  width: 80%;
  background-color: #282829;
  padding: 20px;
}

